
.moreAds-heading {
    font-weight: 550;
    font-family: sans-serif;
    color: #002f34;
    margin-left: 0.5rem;
}

.adcard {
    margin-left: 0.5rem;
    padding: auto;
    width: 100%;

}

.adimg {

    width: 100%;
    height: 15rem;

}

.adlink {
    text-decoration: none;
    color: #002f34;
}

.icon-heart {
    /* margin-left: 17rem; */
    /* margin-top: -20rem; */
    color: #002f34;

}

.item-pic {
    height: 37rem;
    width: 95%;
    margin-left: 2rem;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover; 
    margin-bottom: -1rem;
}



.main-filter-screen{
    width: 100%;
    display: flex;
    flex-direction: row;
  
    
}

.category-ads-three{
    width: 70%;
    margin-top: 5rem;
   /* border: 2px solid red;    */
   margin-left: 3rem;
  
}
.addcard {

    width: 300px;
    height: 320px;

}

.item-detail-card {
    border-radius: 5px;
    width: 95%;
    padding: auto;
    margin: auto;
    margin-left: 2rem;
    margin-top: 1rem;

/* border: 2px solid red; */

}

.item-detail-card-description {
    border-radius: 5px;
    font-size: 14px;
    width: 95%;
    padding: auto;
    margin: auto;
    margin-left: 2rem;
    margin-top: 1rem;

}

.main-adscreen {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.item-adscreen {
    width: 70%;
    /* border: 2px solid red; */
}

.seller {
    /* margin-left: 60rem; */
    width: 30%;
    /* justify-content:end ; */
    /* align-items: end; */
    /* align-self: self-end; */
    /* align-content:end; */
    /* border: 2px solid rgb(8, 207, 221); */
    /* margin-top: -1300px; */

}

.location {
    width: 404px;
    margin-left: 1px;
}

.location-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    /* font-size: 2rem;  */

}

/* .footer-span{
    margin-bottom: -50rem;
} */
.report {
    margin-left: 13rem;
    color: #002f34;
}

.idd {
    color: #002f34;
    margin-left: 3px;
}

.fa-circle-xmark {
    color: #002f34;
}

.buttonn {
    background-color: #002f34;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttonn:hover {
    background-color: #002f34;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.user-detailsss {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    margin-left: 2rem;
    vertical-align: top;
    /* border: 2px solid red; */
}

.since {
    margin-left: 7rem;
    margin-top: -3rem;
}

.img-user {
    width: 5rem;
    height: 5rem;
}

.see-more {
    font-weight: 700;
    color: #002f34;
    margin-left: 7rem;
    margin-top: 5px;

}

.fa-arrow-right {
    margin-left: 12rem;
    vertical-align: top;
    margin-top: -34px;
    color: #002f34;

}

.see-more-arrow {
    cursor: pointer;
}

.image-viewer {
    width: 800px;
    /* Adjust to desired width */
    height: 600px;
    /* Adjust to desired height */
    border: 2px solid red;
    object-fit: contain;
}





/* FILTER DESIGN */
.filter-list{
/* border: 2px solid purple; */
    margin-top: 1rem;
    width: 23%;
    margin-left: 2.5rem; 
}
.home-link-filter{
text-decoration: none;
color: gray
}
.home-link-filter:hover{
    text-decoration: none;
    color: black;
    }
    .type-heading{
        font-weight: 650;
        font-size: 23px;
        text-transform: capitalize;
        margin-top: 1rem;
        color: #002f34;
    }
    .ads-count{
        background-color: #c8f8f6;
        color: #002f34;
        font-weight: 600;
        font-size: 15px;
        
       border-radius: 5px;
    border: none;
    /* margin-left: 13rem; */
    
    }
    .filter-heading{
        color: #002f34;
        font-size: 17px;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .filter-hr-break{
        margin-top: 1rem;
        color: rgb(48, 48, 48);
        
    }
    .categories-filter-heading{
        color: #002f34;
        font-size: 17px;
        font-weight: 600;
        margin-top: 1rem;
        margin-left: 1rem;
        text-transform: uppercase;
    }
    .category-link-filter{
        text-decoration: none;
        color: gray;
        margin-left: 1rem;
        }
       .category-link-filter:hover{
        text-decoration: none;
        margin-left: 1rem;
            color: black ;
            }
            .type-heading-filter{
                font-weight: 650;
                font-size: 16px;
                text-transform: capitalize;
                margin-top: 1rem;
                color: #002f34;
                margin-left: 2.5rem;
            }
            .type-link-filter{
                text-decoration: none;
                color: gray;
                margin-left: 3.5rem;
            }
            .type-link-filter:hover{
                text-decoration: none;
                color: black;
                margin-left: 3.5rem;
            }
      
            .select-containerr {
                position: relative;
                display: inline-block;
            }
            
            .select-containerr .fas {
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                pointer-events: none;
            }
            
            .select-containerr select {
                padding-left: 2.5rem;
                margin-left: 13px;
                margin-top: 1rem;
                font-size: 1rem;
                font-weight: bold;
                appearance: none;
                background-color: white;
                border: 1px solid #ccc;
                padding: 0.5rem;
                border-radius: 3px;
            }
            
.select-containerr {
    position: relative;
    display: inline-block;
}

.select-containerr select {
    width: 17rem;
    height: 3rem;
    padding: 10px 40px 10px 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 600;
    cursor: pointer;
}

.select-containerr .fas.fa-location-dot,
.select-containerr .fa-solid.fa-caret-down {
    position: absolute;
    top: 63%;
    transform: translateY(-50%);
    pointer-events: none;
}

.select-containerr .fas.fa-location-dot {
    left: 20px;
}

.select-containerr .fa-solid.fa-caret-down {
    right: 20px;
}
.location-heading-filter{
    font-weight: 650;
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 1rem;
    color: #002f34;
    margin-left: 2rem;
}
      .location-link-filter{  
text-decoration: none;
color: gray;
margin-left: 3rem;
}
.location-link-filter:hover{  
    text-decoration: none;
    color: black;
    margin-left: 3rem;
    }

    .filter-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin: 0 auto;
     
      }
      
      .price-inputs {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
      }
      
      .price-inputs input {
        width: 45%;
        padding: 5px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      .currency {
        margin-bottom: 10px;
        font-size: 14px;
        color: #333;
      }
      
      .slider {
        width: 100%;
        border: 2px solid #002f34;
      border-radius: 2px ;
      }
      .currency {
        margin-right: -152px;
      }
      .last-selling-div{
        background-color: #3a77ff;
        height: 15rem;
        border-radius: 3px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        text-align: center;
      }
      .last-selling-div h5{
        font-weight: 700;
        font-size: medium;
      }
      .last-selling-div p{
        font-size: medium;
      }
      .filter-button-div{
        width: 15rem;
        margin-left: 2rem;
      }
      .carousel-control-prev-icon,
.carousel-control-next-icon {



    background-image: none;
}

.carousel-control-next-icon:after {
    content: ">";
    font-size: 55px;
    color: white;
    margin-left: 4rem;
}

.carousel-control-prev-icon:after {
    content: "<";
    font-size: 55px;
    color: white;
    margin-left: -4rem;
}
.open-left,.open-right{
    color: white;
    cursor: pointer;
    
}

.background-carousel-image{
    display: flex;

height: 36rem;
margin-left: 2rem;
cursor: pointer;
}
.border-left,.border-right{
    width: 97%;
    background-color: black;
    height: 38rem;
}
.item-detail-carddd {
    border-radius: 5px;
    width: 95%;
    padding: auto;
    margin: auto;
    margin-left: 2rem;
    /* border: 2px solid red; */
    margin-top: 4rem;



}