.categories-heading {
    font-weight: 550;
    font-family: sans-serif;
    color: #002f34;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.catcard {
    margin-left: 0.5rem;
    border: none;
    /* border-color: red; */
}

.catimg {
    /* border: 2px solid purple; */
    margin-left: 50px;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    
}

.cattitle {
    /* text-align: left;     */
    text-align: center;
    font-size: 1rem;
    /* margin-bottom: 2rem; */
    font-size: 1rem;
}

.catanchor {
    text-decoration: none;
    color: black;
    /* border: 2px solid rgb(0, 238, 255); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.adcard-border {
    border: none;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1px;
    margin: 0 3rem;
}

.category-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}



.category-item:nth-child(n+10) {
    grid-column: span 1 / auto;
}