.categories-heading {
    font-weight: 550;
    font-family: sans-serif;
    color: #002f34;
    margin-left: 0.5rem;
}

.catcard {
    margin-left: 0.5rem;
    border: none;
    /* border-color: red; */
}

.catimg {
    width: 5rem;
    height: 5rem;
    margin-left: 50px;
}

.cattitle {
    /* text-align: left; */
    text-align: center;
    font-size: 1rem;
}

.catanchor {
    text-decoration: none;
    color: black;
}
