
  
.moreAds-heading {
    font-weight: 550;
    font-family: sans-serif;
    color: #002f34;
    /* margin-right: 3rem; */
}

.adddcard {
    width: 300px;
    height: 320px;
    display: flex;
    margin-right: 2rem;

}

.adddimg {

    width: 100%;
    height: 10rem;

}

.adlink {
    text-decoration: none;
    color: #002f34;
}

.icon-heart {
    margin-top: -40px;
    color: #002f34;
    /* justify-content: end; */
    margin-left: 16rem;
    /* border: 2px solid red; */
    width: 15%;

}





.item-detail-cardd {
    border-radius: 5px;
    width: 95%;
    padding: auto;
    margin: auto;
    margin-left: 2rem;
    /* border: 2px solid red; */
    margin-top: 4rem;



}

.item-detail-card-description {
    border-radius: 5px;
    font-size: 14px;
    width: 95%;
    padding: auto;
    margin: auto;
    margin-left: 2rem;
    margin-top: 1rem;

}

.main-adscreen {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.item-adscreen {
    width: 70%;
    /* border: 2px solid red; */
}

.seller {
    /* margin-left: 60rem; */
    width: 30%;
    /* justify-content:end ; */
    /* align-items: end; */
    /* align-self: self-end; */
    /* align-content:end; */
    /* border: 2px solid rgb(8, 207, 221); */
    /* margin-top: -1300px; */

}

.listed {
    color: #002f34;
}

.location {
    width: 404px;
    margin-left: 1px;
}

.location-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    /* font-size: 4rem;  */

}

/* .footer-span{
    margin-bottom: -50rem;
} */
.report {
    margin-left: 9rem;
    color: #002f34;
    cursor: pointer;
}

.idd {
    color: #002f34;
    margin-left: 3px;
}

.fa-circle-xmark {
    color: #002f34;
}

.buttonn {
    background-color: #002f34;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttonn:hover {
    background-color: #002f34;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-user {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.username-seller {
    cursor: pointer;
}

.user-detailsss {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    margin-left: 2rem;
    vertical-align: top;
    /* border: 2px solid red; */
}

.since {
    margin-left: 7rem;
    margin-top: -3rem;
    cursor: pointer;
}

.img-user {
    width: 5rem;
    height: 5rem;
}

.see-more {
    font-weight: 700;
    color: #002f34;
    margin-left: 7rem;
    margin-top: 5px;
}

.fa-arrow-right {
    margin-left: 12rem;
    vertical-align: top;
    margin-top: -34px;
    color: #002f34;
}

.see-more-arrow {
    cursor: pointer;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {



    background-image: none;
}

.carousel-control-next-icon:after {
    content: ">";
    font-size: 55px;
    color: white;
    margin-left: 4rem;
}

.carousel-control-prev-icon:after {
    content: "<";
    font-size: 55px;
    color: white;
    margin-left: -4rem;
}

.open-left,.open-right{
    color: white;
    cursor: pointer;
    
}
.item-picc {
    height: 38rem;
    justify-content: space-around;
    width: 75%;
    margin-left: 85px;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    
    
}
.background-carousel-image{
    display: flex;

height: 36rem;
margin-left: 2rem;
cursor: pointer;
}
.border-left,.border-right{
    width: 97%;
    background-color: black;
    height: 38rem;
}