 .back-to-top {
    position: fixed;
    top: -60px;
    left: 50%; 
    margin-top:7rem;
    width: 11%;
    height: 2.5rem;
    transform: translateX(-50%); 
    background-color: white;
    border: 1px solid #002f34;
    color: black;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    font-weight: bold;
    font-size: 15px;
    opacity: 0;
 z-index: 1000;
}
  .toppp{
    transform: rotate(270deg);
  }
  .back-to-top.show {
    top: 20px;
    opacity: 1;
  }
  
  .back-to-top span {
    margin-right: 8px;
    font-size: 18px;
   
  }
  
  .back-to-top:hover {
    border: 3px solid #002f34;
  }
  
  .back-to-top:active {
    
    border:2px solid #002f34;
  }
  