.footertop-row {
    background-color: #f7f8f9;
}

.footertop-heading {
    color: #002f34;
    font-weight: bold;
    margin-left: 4rem;
    font-family: 'Times New Roman serif', ;
}

.footertop-text {
    color: #002f34;
    font-weight: 300;
    text-align: justify;
    margin-top: 2rem;
    margin-left: 4rem;
}

.footertop-divider {
    transform: rotate(90deg);
    width: 40%;
    margin-top: 6rem;
}

.footertop-dividerheading {
    color: #002f34;
    margin-left: 7rem;
    margin-top: -4rem;
    font-weight: 700;
    font-size: small;
}

.footertop-appgooglegallery {
    margin-left: 7rem;
    margin-top: 2rem;
}

.footermedium-row {
    margin-left: 5rem;
    /* display: inline-block; */
}

.footermedium-main {
    background-color: #ebeeef;
    margin-top: -15px;
}

.footermedium-links {
    text-decoration: none;
    color: #7a7a7ac7;
    font-size: 12px;
    
      
}

.footermedium-links:hover {
    text-decoration: none;
    color: #353434c7;
    font-size: 12px;
}

.footermedium-icons {
    color: #353434c7;
    text-decoration: none;
}

/* .footermedium-icons:hover {
    color: #353434c7;
    text-decoration: none;
} */

.footermedium-appgooglegallery {
    margin-top: 2rem;
}

.appgooglegallery {
    text-decoration: none;
}

.footerbottom-main {
    background-color: #002f34;
    color: white;
    text-align: end;
    font-family: 'Times New Roman', Times, serif;
    height: 2rem;
    padding-right: 1rem;
    
    
}
.footerbottom-main h6{
    font-size: 15px;
}
.footermedium-height-adjust{
    height: 13rem;
}

